[submodule "submodule/app-service-sandwich"]
	path = submodule/app-service-sandwich
	url = https://github.com/peterekepeter/app-service-sandwich.git
[submodule "submodule/simple-audio"]
	path = submodule/simple-audio
	url = https://github.com/peterekepeter/simple-audio.git
[submodule "submodule/curve-editor"]
	path = submodule/curve-editor
	url = git@github.com:peterekepeter/curve-editor.git
